<div [style.marginTop.px]="50" [style.marginBottom.px]="30">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="card col-md-4 col-sm-6 red-title" [style.padding-top.px]="15">
                        <img class="img-responsive center-block" src="../../../app/images/products/1.jpg" alt="Card image cap" width="318"
                            height="180">
                        <div class="card-block">
                            <h4 class="card-title">Washing Machine</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">Charges : 150.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    
                </form>
            </div>
        </div>
    </div>
</div>